- @javascripts ||= Bop.site.javascripts

%ul
  = render :partial => 'bop/javascripts/show', :collection => @javascripts
%p
  = link_to "new javascript", new_javascript_url, :remote => true, :class => "adder"
  