!!!
%head
  // user-supplied head content
  // and standard bop stylesheets 
  = bop_head
    
%body
  // user-supplied body content
  = bop_body

  // user-supplied footer content
  // and standard bop javascripts
  = bop_foot
