@import definitions

.editor
  input[type="submit"]
    position: absolute
    right: 5px
    bottom: 5px
  a
    position: absolute
    bottom: 5px
    right: 150px
    color: #fff
    font-size: 25px