@import compass/css3

$closedwidth: 88px
$closedheight: 54px
$openwidth: 300px
$openheight: 500px
$menubg: #e53f90

.pagetree

#bop
  position: fixed
  bottom: $closedheight - $openheight
  left: $closedwidth - $openwidth
  height: $openheight
  width: $openwidth
  color: white
  background:
    color: $menubg
    image: image-url('bop/bg.jpg')
    position: right top
    repeat: no-repeat
  &.showing
    +box-shadow
  a
    color: white
  a.boptag
    display: block
    position: absolute
    right: 0
    top: 0
    width: $closedwidth
    height: $closedheight
    text-indent: $closedwidth
    overflow: hidden
  .pagetree
    position: relative
    width: $openwidth
    height: $openheight - 30px
    overflow: auto
    .page
      margin-left: 20px
      h3
        font-size: 1em
    
  .admin
    position: absolute
    left: 20px
    bottom: 5px
  
section.bop
  border: 1px dotted #e53f90