= content_for :title do
  - if @base
    = @base.title
    \::
  = @page.title

/ = content_for :head do
/   - @site.javascripts.each do |js|
/     = js.render()

.page.editable{:'data-bop-page' => @page.id}
  = @page.render.html_safe