// By default, we don't need to do anything here: the wrapper template will usually make all the necessary space() and field() calls
// however there will be page-associated js and css to put into content_for buckets.