- @stylesheets ||= Bop.site.stylesheets
%ul
  - @stylesheets.each do |s|
    = render 'bop/stylesheets/show', :stylesheet => s
  / = render :partial => 'bop/stylesheets/show', :collection => @stylesheets
%p
  = link_to "new stylesheet", new_stylesheet_url, :remote => true, :class => "adder"
  