@import definitions
@import codemirror/codemirror
@import codemirror/fellrace

.editor
  position: absolute
  top: 0
  bottom: 54px
  left: 0
  right: 0
  .edit_region
    position: relative
    width: 100%
  .head
    height: 30%
  .body
    height: 70%
  .half
    height: 50%
  label
    font-size: 32px
  a
    position: absolute
    top: 5px
    right: 20px
    color: #fff
    font-size: 25px
.formats
  position: absolute
  bottom: 0
  right: 150px
input.editor_submit
  position: absolute
  right: 5px
  bottom: 0
.publish
  position: absolute
  right: 150px
  bottom: 0